<% @cards.each do |card| %>
  <div class="alert alert-light">
    <h3>кредитный план: <%= card.number %></h3>
    <h3>кредитный тип: <%= card.password %></h3>
    <h3>владелец: <%= card.attempt %></h3>
    <h3>владелец: <%= card.money %></h3>
  </div>
<% end %>
