<h1><%= @text %></h1>
<hr>
<%= link_to 'Перейти к списку клиентов', home_path, :class => 'btn btn-outline-info'  %>
<%= link_to 'Перейти к списку депозитов', deposits_path, :class => 'btn btn-outline-secondary'  %>
